.navbar-nav
{
    margin-left: 38%;
}
.logo{
    width: 200px;
    margin-left: 15%;
}
.navbar-brand{
    font-size: 18px;
}
.navbar-brand:hover {
    text-decoration: none;
    color: #D6D6D6;
}
.dropdown-menu{
    text-align: center;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    color: black;
}
