<div class="container-fluid">
  <div class="row row-derechos">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <a class="txt">Cultura Picante y su logotipo al igual que su contenido están protegidos por La Ley de Propiedad Intelectual como Derechos de Autor.
            Ningún otro medio impreso o digital podrá usar nuestro contenido y logotipo sin la autorización y/ó coordinación previa.
            Cultura Picante y su logotipo son una marca registrada.</a>
      </div>
  </div>
  <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <hr>
        </div>
    </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class=col-sm-2>
      <a class="titulo" href="#">Cultura picante</a><br>
      <a class="menu" href="#">Historia</a><br>
      <a class="menu" href="#">Equipo</a><br>
      <a class="menu" href="#">Producción</a>
    </div>
    <div class=col-sm-2>
        <a class="titulo" href="#">Eventos</a><br>
        <a class="menu" href="#">Festidanza 2018</a><br>
        <a class="menu" href="#">Corso de la Amistad 2018 </a>
    </div>
    <div class="col-sm-2">
        <a class="titulo" href="#">Danzas</a><br>
        <a class="menu" href="#">Pueblos</a><br>
        <a class="menu" href="#">Agrupamientos locales</a><br>
        <a class="menu" href="#">Agrupamientos internacionales</a>
    </div>
    <div class=col-sm-2>
        <a class="titulo" href="#">Cultura</a><br>
        <a class="menu" href="#">Historias</a><br>
        <a class="menu" href="#">Monumentos</a><br>
    </div>
    <div class="col-sm-2">
        <a class="titulo" href="#">Ayuda</a><br>
        <a class="menu" href="#">Se parte de Cultura Picante</a>
    </div>
  </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <hr>
        </div>
    </div>
  <div class="row foot">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">
        <a class="creditos">Copyright © 2018 Cultura Picante Arequipa. Todos los derechos reservados Privacidad - Sitio</a>
    </div>
  </div>
</div>