
<div class="inicio">
<!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="https://github.com/FrancoQuispe/fotos/blob/master/img1.jpg?raw=true">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Cultura Picante</h3>
                <p>Descubre</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="https://github.com/FrancoQuispe/fotos/blob/master/img2.jpg?raw=true" alt="Second slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Arequipa</h3>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="https://github.com/FrancoQuispe/fotos/blob/master/img3.jpg?raw=true" alt="Third slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Arte</h3>
            </div>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

    <div class="barra barra-monumentos">
            <img class="d-block w-100" src="https://github.com/FrancoQuispe/fotos/blob/master/img_2_barra.jpg?raw=true">
            <div class="monumentos">
                <a class="link-black" href="#">Abrir galeria></a>
            </div>
    </div>

    <div class="barra barra-monumentos">
            <img class="d-block w-100" src="https://github.com/FrancoQuispe/fotos/blob/master/img_1_barra.jpg?raw=true" alt="Third slide">
            <div class="musica">
                    <a class="link-white" href="#">Abrir galeria></a>
            </div>
    </div>

    <div class="container-fluid">
        <div class="row barra-monumento">
            <div class="col-sm-6">
                    <img class="d-block w-100" src="https://github.com/FrancoQuispe/fotos/blob/master/img_cdr_1.jpg?raw=true" alt="Third slide">
                    <div class="corso">
                            <a class="link-white" href="#">Ver></a>
                    </div>
            </div>
            <div class="col-sm-6">
                    <img class="d-block w-100" src="https://github.com/FrancoQuispe/fotos/blob/master/img_2_corregida.jpg?raw=true" alt="Third slide">
                    <div class="pasacalle">
                            <a class="link-white" href="#">Ver></a>
                    </div>
            </div>
        </div>
    </div>
    <div class="redes">
        <img class="d-block w-100" src="https://github.com/FrancoQuispe/fotos/blob/master/img_3_remodelada.jpg?raw=true" alt="Third slide">
        <div class="fb">
            <a href="https://www.facebook.com/culturapicantearequipa">FaceBook</a>
        </div>
        <div class="it">
            <a href="https://www.instagram.com/culturapicantearequipa/">Instagram</a>
        </div>
        <div class="yt">
            <a href="https://www.youtube.com/channel/UCu1bDxQdkoVuzL2xAWWwAcw">YouTube</a>
        </div>
    </div>
</div>